html, body{
    margin:0;
}
body {
    background-image: url("morning mist.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:center;
}
#hers {
    height:200px;
    width:200px;
}

h1 {
    text-align: center;
}

.tt {
    font-size:30px;
    display: flex;
    gap: 30px;
    background-color: blue;
}
#switch{
    display:block;
    margin-left: auto;
    margin-right:auto;
    height: 150px;
    width: 200px;
}
#switch.hover{
    height:170px;
    width:220px;
}
#biographie{
    float:right;
}
.vinyles{
    margin-left:150px;
}

#vinyle_Hers{
    width:20%;
    height:15%;
}

#Album_HERS{
    align-content:center;
    justify-content: center;
}

#album_presentation{
    display:flex;
    flex-direction: row wrap;
}
.fenetre{
    background-image: url(cadre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:2%;
    margin-top:50px;
    margin-bottom:50px;
    padding:5%;
    align-self:center;
}
nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#tracklist{
    display:flex;
    flex-direction: row wrap;
}